#TF1
{
	position:relative;
	width:50em;
	background-color: #345;
	padding:1em;
}

#TF1 .film
{
	position:relative;
	background-color: gray;
	border-radius:20px;
	padding:1em;
	margin-bottom:1em;
	min-height:10em;
}

#TF1 .film *
{
	position:relative;
}

#TF1 .film .illustration
{
	position:absolute;
	width:10em; height:10em;background-color:blue;
}

#TF1 .film .titre
{
	margin:0;
	margin-left:9em;
	background-color:gray;
	padding:0;
	font-size: 80px;
}

#TF1 .film .resume
{
	margin-left:11em;
	font-size: 12px;
}

#TF1 .film .realisateur
{
	margin-left:11em;
	font-style: italic;
	font-weight:bold;
	font-size: 18px;
}
